<div class="row">
    <div class="col wide">{{type}}</div>
    <div class="col wide">{{qty}}</div>
    <div class="col wide">{{priceFixed price}}</div>
    <div class="col">{{priceFixed subTotal}}</div>
</div>